{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}Site index{% endblock %}

{% block body %}
    <h1>Site index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Raison sociale</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Adresse</th>
                <th>Information</th>
                <th>Archive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                {# <td>{{ site.id }}</td> #}
                <td>{{ site.sitRaisonSociale }}</td>
                <td>{{ site.sitVille }}</td>
                <td>{{ site.sitCPostal }}</td>
                <td>{{ site.sitAdresse }}</td>
                <td>{{ site.sitInformation }}</td>
                <td>{{ site.sitArchive ? 'Yes' : 'No' }}</td>
                <td>
                    {# <a href="{{ path('site_show', {'id': site.id}) }}">show</a> #}
                    <a class="btn btn-success" href="{{ path('site_edit', {'id': site.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement de trouvé!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('site_new') }}">Nouveau</a>
{% endblock %}
