{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}Equipement liste{% endblock %}

{% block body %}
    <h1>Liste des équipements</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>N° série</th>
                <th>Description</th>
                <th>Fichier photo</th>
                <th>Archivé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                {# <td>{{ equipement.id }}</td> #}
                <td>{{ equipement.equNom }}</td>
                <td>{{ equipement.equMarque }}</td>
                <td>{{ equipement.equModele }}</td>
                <td>{{ equipement.equSerie }}</td>
                <td>{{ equipement.equDescription }}</td>
                <td>{{ equipement.equPhoto1 }}</td>
                <td>{{ equipement.equArchive ? 'Yes' : 'No' }}</td>
                <td>
                    {# <a href="{{ path('equipement_show', {'id': equipement.id}) }}">show</a> #}
                    <a class="btn btn-success" href="{{ path('equipement_edit', {'id': equipement.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'enregistrement de trouvé!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('equipement_new') }}">Nouveau</a>
{% endblock %}
