{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <h1>Nouvel utilisateur</h1>

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.logname) }}
  {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
  {{ form_row(registrationForm.roles) }}
  {# {{ form_row(registrationForm.agreeTerms) }} #}

  <button type="submit" class="btn btn-primary">Enregistrer</button>
  {{ form_end(registrationForm) }}
{% endblock %}
