{% extends 'base.html.twig' %}

{% block title %}Customerboard{% endblock %}

{% block body %}
  <style></style>

  <h1>Customer Board</h1>
  <img src="{{ asset('images/HVAC_logo.jpg') }}" alt="image logo HVAC"/>
  {# <form action="" method="POST">
    <p>{{siteSelect.sitville}}</p>
    <select class="form-select" id='select_site' name='select_site' onchange="this.form.submit()">
      <option name='choisir' value='null'>{{siteSelect.sitville}}</option>
      {% for site in sites %}
        <option name='{{site.sitville}}' value='{{ site.id }}'>Site:{{ site.sitville }}</option>
      {% endfor %}
    </select>
  </form> #}

{% endblock %}
