{% extends 'base.html.twig' %}

{% block title %}Customerboard{% endblock %}

{% block body %}
  <style></style>

  <h1>Customer Board</h1>
  {# <img src="{{ asset('images/HVAC_logo.jpg') }}" alt="image logo HVAC"/> #}
  <div class="titreSite">
    <h4>Site:
      {{siteSelect.sitville}}</h4>
  </div>
  <div class="trancheSelection">
    <form action="" method="POST">
      <select class="form-select" id='postEquId' name='postEquId' onchange="this.form.submit()">
        <option name='choisir' value='null'>Choisir equipement</option>
        {% for equipement in equipements %}
          <option name='{{equipement.equnom}}' value='{{ equipement.id }}'>equ:
            {{ equipement.equmarque }}
            {{ equipement.equmodele }}
            {{ equipement.equserie }}</option>
        {% endfor %}
      </select>
    </form>
    <div>
      <h3>Equipement:
        {{DetailEquipement.equmarque}}
        {{DetailEquipement.equmodele}}
        {{DetailEquipement.equserie}}</h3>
      <div class="imageEquipement">
        <img src="{{ asset('images/'~DetailEquipement.equphoto1) }}" alt="photo equipement"/>
      </div>
      <div class="imageBlocGraphiques">

        {% for UnPtMesAvecCapteurEtMesure in lesPtMesAvecCapteurEtMesures %}
          <div class="blocUnPoint">
            <div>
              nom du point:{{UnPtMesAvecCapteurEtMesure[0].ptmesnom}}
              {{UnPtMesAvecCapteurEtMesure[0].ptmesposition}}
              capteur:
              {{UnPtMesAvecCapteurEtMesure[1].capmarque}}_:_{{UnPtMesAvecCapteurEtMesure[1].capserie}}
            </div>
            <div class="imageGraphique">
              {# -------------------------------------------------------------------------------------------------------- #}
              {# ---------------------------Block de construction d'un graphique chart_js-------------------------------- #}
                {# balise pour graphique #}
              <canvas id="unGraphique_{{ UnPtMesAvecCapteurEtMesure[0].id}}" width="100%" height="70%"></canvas>
                {# passage des données de twig vers JS (voir doc symfony) #}
              <div data-entry-id="{{ UnPtMesAvecCapteurEtMesure[0].id}}"></div>  
              <div data-entry-mesures="{{ UnPtMesAvecCapteurEtMesure[2]| json_encode()}}"></div>  
              <div data-entry-dates="{{ UnPtMesAvecCapteurEtMesure[3]| json_encode()}}"></div>
              {# -------------------------------------------------------------------------------------------------------- #}
            </div>
          </div>

        {% endfor %}
      </div>
            
      <script src="{{asset('js/chart_JS.js')}}"></script>

    {% endblock %}
