{% extends 'base.html.twig' %}



{% block title %}AdminBoard{% endblock %}

{% block body %}

  <style>
    
    
  </style>
  
  <main class="row">
<i class="bi-alarm-clock"></i>
<svg class="bi" width="32" height="32" fill="currentColor">
  <use xlink:href="bootstrap-icons.svg#alarm-clock"/>
</svg>
    <div class="menuGauche col-2">
      {# <img src="{{ asset('images/HVAC_logo.jpg') }}" alt="image logo HVAC"/> #}
      <div class="blocBoutons">
        <div class="titreBlocBoutons">
          <h3>Tableau de bord</h3>
        </div>
        {# <a href="{{ path('admin')}}" class="btn btn-outline-primary">Admin global</a> #}
        
        <a href="{{ path('admin')}}" class="">
          <img class="icone_btn" src="{{ asset('images/wallet2.svg') }}" alt="Bootstrap" width="32" height="32">
          Admin. globale          
        </a>
        <a href="{{ path('utilisateur_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/person-lines-fill.svg') }}" alt="Bootstrap" width="32" height="32">
          Utilisateurs
        </a>
        <a href="{{ path('site_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/building.svg') }}" alt="Bootstrap" width="32" height="32">
          Sites
        </a>
        <a href="{{ path('equipement_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/safe2.svg') }}" alt="Bootstrap" width="32" height="32">
          Equimements
        </a>
        <a href="{{ path('pt_mesure_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/record-circle.svg') }}" alt="Bootstrap" width="32" height="32">
          Pts de mesures
        </a>
        <a href="{{ path('capteur_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/fullscreen.svg') }}" alt="Bootstrap" width="32" height="32">
          Capteurs
        </a>
        <a href="{{ path('contact_index')}}" class="">
          <img class="icone_btn" src="{{ asset('images/address-card-regular.svg') }}" alt="Bootstrap" width="32" height="32">
          Contact
        </a>
      </div>
    </div>

    <div class="pageDroite col-10">
      <div class="trancheSelection">
        <form action="" method="POST">
          <select class="form-select" id='select_site' name='postSiteId' onchange="this.form.submit()">
            <option name='choisir' value='null'>Choisir site</option>
            {% for site in sites %}
              <option name='{{site.sitville}}' value='{{ site.id }}'>Site:{{ site.sitville }}</option>
            {% endfor %}
          </select>
        </form>
        <div>
          <a href="{{ path('customer_board')}}" class="btn btn-outline-success">Voir dashboard client</a>
        </div>
      </div>
      <hr>
      <div class="titreSite">
        <h4>Site:
          {% if siteSelect.id == null %}
            Veuillez sélectionner un site!
          {% endif %}
          {{siteSelect.sitville}}
        </h4>
      </div>
      <hr>
      <div class="trancheUtilisateurs">
        <div class="titreUtilisateur">
          <h3>Utilisateur</h3>
          <pre>
            {# {{ dump(siteSelect.id) }} #}
          </pre>
          {# {% if siteSelect.id != null %} #}
          {# <a href="{{ path('site_edit', {'id': siteSelect.id})}}" class="btn btn-outline-primary">Changer Utilisateur</a> #}            
          {# {% endif %} #}
        </div>
          

        <div class="blocTableauUtilisateur">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom (logname)</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for utilisateur in utilisateurs %}
                <tr>
                  <td>{{utilisateur.logname}}</td>
                  <td>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id})}}" class="btn btn-outline-primary">Edit</a>
                  </td>
                  {# <td> #}
                    {# Bout de code récupéré du twig "crud" utilisateur #}
                    {# <form method="post" action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Souhaitez vous supprimer cet utilisateur?');"> #}
                      {# <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}"> #}
                      {# <button class="btn btn-outline-danger">Supprimer</button> #}
                    {# </form> #}
                  {# </td> #}
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

      <div class="trancheEquipements">
        <div class="blocTitreEquipement">
          <h3 class="titreEquipements">Equipements</h3>
          <a href="{{ path('equipement_new')}}" class="btn btn-outline-primary">Ajouter equipement</a>
        </div>
        <div class="blocEquipement">
          <div class="tableauEquipements">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Action</th>
                  <th scope="col"></th>
                  <th scope="col"></th>

                </tr>
              </thead>
              <tbody>
                {% for equipement in equipements %}
                  <tr>
                    <td>{{equipement.equmarque}}</td>
                    <td>
                      <form action="">
                        <button class="btn btn-outline-success" type="submit" formaction="" formmethod="post" value="{{equipement.id}}" name="postEquId">Afficher détail</button>
                      </form>
                      {# <a href="" class="btn btn-primary">Afficher</a> #}
                    </td>
                    <td>
                      <a href="{{ path('equipement_edit', {'id': equipement.id})}}" class="btn btn-outline-primary">Edit</a>
                    </td>
                    {# <td>
                      <a href="{{ path('equipement_delete', {'id': equipement.id})}}" class="btn btn-outline-danger">Supp.</a>
                    </td> #}
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <div class="blocDetailEquipement">
          <div class="titreDetailEquipement">
          
          <h3>Detail equipement:
            {{DetailEquipement.equmarque}}
            {{DetailEquipement.equmodele}}
            {{DetailEquipement.equserie}}</h3>
          </div>
            <div class="detailEquipHead">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Marque</th>
                    <th scope="col">Modele</th>
                    <th scope="col">N° serie</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{DetailEquipement.equmarque}}</td>
                    <td>{{DetailEquipement.equmodele}}</td>
                    <td>{{DetailEquipement.equserie}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="blocListeDesPoints">
              <div class="titreListePoints">
                <h3>Liste des points</h3>
                <a href="{{ path('pt_mesure_new')}}" class="btn btn-outline-primary">Ajouter un point</a>
              </div>
              <div class="tableauDesPoints">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nom du pt.</th>
                      <th scope="col">Position</th>
                      <th scope="col">Capteur associé</th>
                      <th scope="col">Action</th>
                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for UnPtMesAvecCapteur in lesPtMesAvecCapteur %}
                      <tr>
                        <td>{{UnPtMesAvecCapteur[0].ptmesnom}}</td>
                        <td>{{UnPtMesAvecCapteur[0].ptmesposition}}</td>
                        <td>{{UnPtMesAvecCapteur[1].capmarque}}_:_{{UnPtMesAvecCapteur[1].capserie}}</td>
                        <td>
                          <a href="{{ path('pt_mesure_edit', {'id': UnPtMesAvecCapteur[0].id})}}" class="btn btn-outline-primary">Edit</a>
                        </td>
                        {# <td>
                          <a href="{{ path('pt_mesure_delete', {'id': UnPtMesAvecCapteur[0].id})}}" class="btn btn-outline-danger">Supp.</a>
                        </td> #}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="DBA_imageEquipement">
              {# <img src="{{ asset('images/'~DetailEquipement.equphoto1) }}" alt="photo equipement"/> #}
              <img src="{{ vich_uploader_asset(DetailEquipement,'imageFile') }}" alt="photo equipement"/>
            </div>
          </div>
        </div>

        <form></form>
      </div>
    </div>

  </main>

{% endblock %}
