{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}


{% block title %}Utilisateur index{% endblock %}

{% block body %}
  <h1>Liste Utilisateurs</h1>

  <table class="table">
    <thead>
      <tr>
        {# <th>Id</th> #}
        <th>Nom (Logname)</th>
        <th>Roles</th>
        <th>Site</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for utilisateur in utilisateursAvecSite %}
      <pre>
      </pre>
        <tr>
          {# <td>{{ utilisateur.id }}</td> #}
          <td>{{ utilisateur[0].logname }}</td>
          <td>{{ utilisateur[0].roles ? utilisateur[0].roles|json_encode : '' }}</td>
          <td>{{ utilisateur[1] }}</td>
          <td>
            {# <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary">Voir</a> #}
            <a href="{{ path('utilisateur_edit', {'id': utilisateur[0].id}) }}" class="btn btn-success">Editer</a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">Pas d'enregistrement de trouvé!</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {# <a href="{{ path('utilisateur_new') }}">Create new</a> #}
  <a href="{{ path('app_register') }}" class="btn btn-primary">Nouveau</a>
{% endblock %}
