{% extends 'base.html.twig' %}
{% block link %}<a class="navbar-brand ancresNav" aria-current="page" href="{{ path('admin_board')}}">Tableau de bord</a>{% endblock %}

{% block title %}Liste des capteurs{% endblock %}

{% block body %}
    <h1>Liste des capteurs</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Marque</th>
                <th>Modèle</th>
                <th>N° Série</th>
                <th>Adresse mac (BT)</th>
                <th>Information</th>
                <th>Archive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for capteur in capteurs %}
            <tr>
                {# <td>{{ capteur.id }}</td> #}
                <td>{{ capteur.capMarque }}</td>
                <td>{{ capteur.capModele }}</td>
                <td>{{ capteur.capSerie }}</td>
                <td>{{ capteur.capMacadress }}</td>
                <td>{{ capteur.capInformation }}</td>
                <td>{{ capteur.capArchive ? 'Yes' : 'No' }}</td>
                <td>
                    {# <a href="{{ path('capteur_show', {'id': capteur.id}) }}">show</a> #}
                    <a class="btn btn-success" href="{{ path('capteur_edit', {'id': capteur.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement de trouvé!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('capteur_new') }}">Nouveau</a>
{% endblock %}
